# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

trunk/Assembly-CSharp-Editor.csproj
trunk/Assembly-CSharp-Editor-vs.csproj
trunk/Assembly-CSharp.csproj
trunk/Assembly-CSharp-vs.csproj
trunk/trunk.sln
trunk/trunk.userprefs
trunk/trunk-csharp.sln
trunk/Library/*
trunk/ProjectSettings/*
trunk/Temp/*